In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score
import seaborn as sns
import statsmodels.api as sm

In [19]:
df=pd.read_excel(r'D:\ims proschool\python\Dataset.xlsx',engine='openpyxl')

In [20]:
df.columns

Index(['Age', 'Subscription', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

In [21]:
df.head(22)

,Age,Subscription,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,62,1,-0.6742,0.509564,0.337557,NaN,NaN,NaN,NaN,NaN,NaN
1,18,0,-0.8106,0.444591,0.307763,NaN,NaN,NaN,NaN,NaN,NaN
2,40,0,-0.7424,0.475970,0.322480,NaN,NaN,NaN,NaN,NaN,NaN
3,51,1,-0.7083,0.492481,0.329975,NaN,NaN,NaN,NaN,NaN,NaN
4,37,1,-0.7517,0.471564,0.320451,NaN,NaN,NaN,NaN,NaN,NaN
5,47,1,-0.7207,0.486412,0.327239,NaN,NaN,NaN,NaN,NaN,NaN
6,32,0,-0.7672,0.464311,0.317085,NaN,NaN,NaN,NaN,NaN,NaN
7,49,1,-0.7145,0.489437,0.328605,NaN,NaN,NaN,NaN,NaN,NaN
8,55,1,-0.6959,0.498625,0.332722,NaN,NaN,NaN,NaN,NaN,NaN
9,52,1,-0.7052,0.494010,0.330660,NaN,NaN,NaN,NaN,NaN,NaN
10,52,1,-0.7052,0.494010,0.330660,NaN,NaN,NaN,NaN,NaN,NaN
11,33,1,-0.7641,0.465753,0.317757,NaN,NaN,NaN,NaN,NaN,NaN
12,41,0,-0.7393,0.477448,0.323157,NaN,NaN,NaN,NaN,NaN,NaN
13,44,0,-0.7300,0.481909,0.325195,NaN,NaN,NaN,NaN,NaN,NaN
14,51,1,-0.7083,0.492481,0.329975,NaN,NaN,NaN,NaN,NaN,NaN
15,52,1,-0.7052,0.494010,0.330660,NaN,NaN,NaN,NaN,NaN,NaN
16,36,0,-0.7548,0.470105,0.319776,NaN,NaN,NaN,NaN,NaN,NaN
17,35,0,-0.7579,0.468650,0.319102,NaN,NaN,NaN,NaN,Slope,0.0031
18,30,0,-0.7734,0.461441,0.315744,NaN,NaN,NaN,NaN,Intercept,-0.8664
19,39,0,-0.7455,0.474497,0.321803,NaN,NaN,NaN,NaN,NaN,NaN
20,1,1,-0.8633,0.421768,0.296650,NaN,NaN,NaN,NaN,NaN,NaN
21,75,0,-0.6339,0.530519,0.346627,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df=df[['Age', 'Subscription']]

In [23]:
X=df['Age']

In [24]:
Y=df['Subscription']

In [25]:
X

0      62
1      18
2      40
3      51
4      37
5      47
6      32
7      49
8      55
9      52
10     52
11     33
12     41
13     44
14     51
15     52
16     36
17     35
18     30
19     39
20      1
21     75
22    100
Name: Age, dtype: int64

In [26]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=100)

In [27]:
x_train

21     75
4      37
22    100
0      62
1      18
13     44
14     51
18     30
5      47
2      40
10     52
16     36
15     52
7      49
3      51
8      55
Name: Age, dtype: int64

In [29]:
lr= LogisticRegression()

In [31]:
x_train_reshape=np.array(x_train).reshape(-1,1)

In [35]:
y_train_reshape=np.array(y_train).reshape(-1,1)
x_test_reshape=np.array(x_test).reshape(-1,1)

In [33]:
lr.fit(x_train_reshape,y_train_reshape)

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [36]:
pred=lr.predict(x_test_reshape)

In [40]:
print('Accuracy',accuracy_score(y_test,pred))

Accuracy 0.42857142857142855

In [41]:
print('Confusion_matrix',confusion_matrix(y_test,pred))

Confusion_matrix [[0 4]
 [0 3]]

In [42]:
print('precision',precision_score(y_test,pred))

precision 0.42857142857142855

In [43]:
print('recall',recall_score(y_test,pred))

recall 1.0

In [48]:
result =sm.Logit(Y,X).fit()

Optimization terminated successfully.
         Current function value: 0.692066
         Iterations 3

In [49]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:           Subscription   No. Observations:                   23
Model:                          Logit   Df Residuals:                       22
Method:                           MLE   Df Model:                            0
Date:                Wed, 10 Mar 2021   Pseudo R-squ.:               0.0001966
Time:                        15:20:51   Log-Likelihood:                -15.918
converged:                       True   LL-Null:                       -15.921
Covariance Type:            nonrobust   LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Age            0.0019      0.009      0.223      0.824      -0.015       0.019
==============================================================================
"""

In [50]:
x_const=sm.add_constant(X)

In [51]:
result2=sm.Logit(Y,x_const).fit()

Optimization terminated successfully.
         Current function value: 0.692065
         Iterations 3

In [52]:
result2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:           Subscription   No. Observations:                   23
Model:                          Logit   Df Residuals:                       21
Method:                           MLE   Df Model:                            1
Date:                Wed, 10 Mar 2021   Pseudo R-squ.:               0.0001981
Time:                        15:22:18   Log-Likelihood:                -15.917
converged:                       True   LL-Null:                       -15.921
Covariance Type:            nonrobust   LLR p-value:                    0.9367
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0076      1.083      0.007      0.994      -2.116       2.131
Age            0.0018      0.022      0.079      0.937      -0.042       0.045
==============================================================================
"""